/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 8/nov/2017, 18:00:32
    Author     : Syfer
*/

/* ==========================================================================
   Normalização de elementos CSS
   ========================================================================== */

body {
    font-size: 0.65em;
    line-height: 1.5;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #444;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    color: #666;
    text-decoration: none;
    font-size: 1.6em;
    padding: 5px;
}

a:hover {
    background-color: #444;
    color:white;
    text-decoration: none;
}

figure {
    margin: 0;
}

h1  {
    margin-top: 0;
    margin-bottom: 1em;
    font-size: 3em;
    font-weight: 900;
}

h2 {
    margin-top: 0;
    margin-bottom: 1em;
    font-size: 2.1em;
    font-weight: 700;
    text-transform: uppercase;
}

h3 {
    font-size: 1.9em;
    font-weight: 500;
}


p {
    font-size: 1.6em;
}

img{
    width: 100%;
    border-radius:2px;
}

/* ==========================================================================
   Classes Principais
   ========================================================================== */

.clearfix {
    overflow: auto;
    zoom: 1;
}

#container {
    max-width: 1280px;
    margin: 0 auto;
}

.header {
    width: 100%;
    margin-top: 3.5em;
    margin-bottom: 1.5em;
    font-size:0.9em;
    position: relative;
    overflow: hidden;
    position: relative;
}

.logo {
    float: left;
    width: 10%;  
}


.menu {
    width: 75%; 
    float: right;
    position:absolute;
    bottom:5%;
    right: 0;   
}

.menu ul {
    float: right;    
}

.menu li {
    font-size: 1.2em;
    margin-left: 1em;
    display: inline-block;

}

menu a{
    padding: 10px;
}


.banner{
    margin-bottom: 60px;
}

.section_wrapper{

    background-color: #efefef;
    padding:20px;
    clear:both;
    margin-bottom: 60px;
    border-radius:2px;
}

.column-1{  
    width: 100%;
}
.column-2 {
    width: 49%;
}
.column-4 {
    width: 23.5%;
}

.column-8 {
    width: 10.75%;
}

.column-8 p{
    font-size: 1.4em;
}

.column-1, .column-2, .column-4, .column-8{
    float:left;
    margin-right: 2%; 
}
.column-1:last-child, .column-2:last-child, .column-4:last-child, .column-8:last-child{
    margin-right: 0;
}

.footer {
    width: 100%;
    margin-top: 2.4em;
    margin-bottom: 2.4em;
    float:left;
    clear: both;
}

.footer a {
    font-size: 1em;
    padding: 0;
}

.footer a:hover {
    background-color: #fff;
    color: #555;
    text-decoration: none; 
}